.mtn, .mvn, .man {
  margin-top: 0px; }

.mrn, .mhn, .man {
  margin-right: 0px; }

.mbn, .mvn, .man {
  margin-bottom: 0px; }

.mln, .mhn, .man {
  margin-left: 0px; }

.mtpx, .mvpx, .mapx {
  margin-top: 1px; }

.mrpx, .mhpx, .mapx {
  margin-right: 1px; }

.mbpx, .mvpx, .mapx {
  margin-bottom: 1px; }

.mlpx, .mhpx, .mapx {
  margin-left: 1px; }

.mtxs, .mvxs, .maxs {
  margin-top: 2px; }

.mrxs, .mhxs, .maxs {
  margin-right: 2px; }

.mbxs, .mvxs, .maxs {
  margin-bottom: 2px; }

.mlxs, .mhxs, .maxs {
  margin-left: 2px; }

.mts, .mvs, .mas {
  margin-top: 5px; }

.mrs, .mhs, .mas {
  margin-right: 5px; }

.mbs, .mvs, .mas {
  margin-bottom: 5px; }

.mls, .mhs, .mas {
  margin-left: 5px; }

.mtm, .mvm, .mam {
  margin-top: 10px; }

.mrm, .mhm, .mam {
  margin-right: 10px; }

.mbm, .mvm, .mam {
  margin-bottom: 10px; }

.mlm, .mhm, .mam {
  margin-left: 10px; }

.mtl, .mvl, .mal {
  margin-top: 20px; }

.mrl, .mhl, .mal {
  margin-right: 20px; }

.mbl, .mvl, .mal {
  margin-bottom: 20px; }

.mll, .mhl, .mal {
  margin-left: 20px; }

.mtxl, .mvxl, .maxl {
  margin-top: 40px; }

.mrxl, .mhxl, .maxl {
  margin-right: 40px; }

.mbxl, .mvxl, .maxl {
  margin-bottom: 40px; }

.mlxl, .mhxl, .maxl {
  margin-left: 40px; }

.mtxxl, .mvxxl, .maxxl {
  margin-top: 80px; }

.mrxxl, .mhxxl, .maxxl {
  margin-right: 80px; }

.mbxxl, .mvxxl, .maxxl {
  margin-bottom: 80px; }

.mlxxl, .mhxxl, .maxxl {
  margin-left: 80px; }

.ptn, .pvn, .pan {
  padding-top: 0px; }

.prn, .phn, .pan {
  padding-right: 0px; }

.pbn, .pvn, .pan {
  padding-bottom: 0px; }

.pln, .phn, .pan {
  padding-left: 0px; }

.ptpx, .pvpx, .papx {
  padding-top: 1px; }

.prpx, .phpx, .papx {
  padding-right: 1px; }

.pbpx, .pvpx, .papx {
  padding-bottom: 1px; }

.plpx, .phpx, .papx {
  padding-left: 1px; }

.ptxs, .pvxs, .paxs {
  padding-top: 2px; }

.prxs, .phxs, .paxs {
  padding-right: 2px; }

.pbxs, .pvxs, .paxs {
  padding-bottom: 2px; }

.plxs, .phxs, .paxs {
  padding-left: 2px; }

.pts, .pvs, .pas {
  padding-top: 5px; }

.prs, .phs, .pas {
  padding-right: 5px; }

.pbs, .pvs, .pas {
  padding-bottom: 5px; }

.pls, .phs, .pas {
  padding-left: 5px; }

.ptm, .pvm, .pam {
  padding-top: 10px; }

.prm, .phm, .pam {
  padding-right: 10px; }

.pbm, .pvm, .pam {
  padding-bottom: 10px; }

.plm, .phm, .pam {
  padding-left: 10px; }

.ptl, .pvl, .pal {
  padding-top: 20px; }

.prl, .phl, .pal {
  padding-right: 20px; }

.pbl, .pvl, .pal {
  padding-bottom: 20px; }

.pll, .phl, .pal {
  padding-left: 20px; }

.ptxl, .pvxl, .paxl {
  padding-top: 40px; }

.prxl, .phxl, .paxl {
  padding-right: 40px; }

.pbxl, .pvxl, .paxl {
  padding-bottom: 40px; }

.plxl, .phxl, .paxl {
  padding-left: 40px; }

.ptxxl, .pvxxl, .paxxl {
  padding-top: 80px; }

.prxxl, .phxxl, .paxxl {
  padding-right: 80px; }

.pbxxl, .pvxxl, .paxxl {
  padding-bottom: 80px; }

.plxxl, .phxxl, .paxxl {
  padding-left: 80px; }
